@base-color:#f2f2f2;
body {
    margin: 0;
    padding: 0;
    background:@base-color;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
p {
    font-size: 12px;
}